:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-size: medium;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.9);
  background-color: #242424;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

body {
  margin: 0;
  min-width: 320px;
  /* min-height: 100vh; */
}

body,
html {
  overflow: auto;
}

#root {
  height: 100%;
}

h2 {
  margin: 0;
}

p {
  margin: 0;
}

pre {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* Internet Explorer 5.5+ */
}

form {
  width: 100%;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}

button {
  margin: 0;
}

.main {
  background-color: #242424;
  overflow: auto;
  width: 100%;
  margin-left: 328px;
}

.main-mobile {
  background-color: #242424;
  overflow: auto;
  width: 100%;
}

.root-layout {
  display: flex;
  flex-direction: row;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  min-width: 280px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;

  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5;
  text-decoration: none;

  background-color: #141414;
}

.navbar-mobile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  min-width: 280px;
  height: 100vh;
  width: 100%;

  font-size: 2rem;
  font-weight: bold;
  line-height: 2.5;
  text-decoration: none;
  background-color: #141414;
}

.navbar ul {
  margin-top: 20%;

  /* 드래그 방지 */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dot {
  margin-left: 3px;
  color: orange;
}

.navbar-info {
  margin-bottom: 10%;

  font-size: 1.1rem;
  line-height: 1;
}

.navbar-info-login {
  font-size: 1.25rem;
  display: flex;
  justify-content: center;
}

.navbar-info-login .link {
  margin: 8px 16px;
}

.navbar-info-updateDate {
  display: flex;
  justify-content: center;
  font-weight: lighter;
  color: rgba(255, 255, 255, 0.5);
}

.aboutMe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url('assets/ski.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;
  /* 배경 이미지 투명도 설정 */
  position: relative;
  isolation: isolate;
}

.aboutMe .menu-button {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  margin: 16px;
  background-color: transparent;
  border: unset;
}

.icon {
  filter: invert(80%);
  width: 18px;
}

/* 배경 이미지 투명도 설정 */
.aboutMe::after {
  content: '';
  position: absolute;
  background-color: black;
  z-index: -1;
  inset: 0;
  opacity: 0.3;
}

.aboutMe-container {
  padding: 8px 16px;
}

.introduction {
  text-align: center;

  font-size: 4rem;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.introduction .status {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 2.75rem;
}

.introduction .name {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: orange;
  text-decoration-thickness: 12px;
}

.introduction .description {
  font-size: 1.75rem;
  line-height: normal;
}

.link {
  font: inherit;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  color: rgb(252, 186, 65);
  text-shadow: 2px 2px 1px orangered;
}

.projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px;
}

.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 8px 16px;
}

.notes-container {
  display: grid;
  grid-gap: 16px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  --card-count: 4;
  --spacer: calc(var(--card-count) - 1);
  --width: 25%;
  grid-template-columns: repeat(
    var(--card-count),
    calc(var(--width) - (16px * var(--spacer) / var(--card-count)))
  );
}

@media screen and (max-width: 1080px) {
  .notes-container {
    --card-count: 2;
    --width: 50%;
  }
}

@media screen and (min-width: 1081px) and (max-width: 1560px) {
  .notes-container {
    --card-count: 3;
    --width: 33.33%;
  }
}

@media (min-width: 1561px) {
  .notes-container {
    --card-count: 4;
    --width: 25%;
  }
}

.notes-search-container {
  display: grid;
  grid-gap: 16px;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  --card-count: 4;
  --spacer: calc(var(--card-count) - 1);
  --width: 25%;
  grid-template-columns: repeat(
    var(--card-count),
    calc(var(--width) - (16px * var(--spacer) / var(--card-count)))
  );
}

.note-item {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  height: 500px;
  background-color: #141414;
}

.note-item-link {
  color: inherit;
  height: inherit;
  text-decoration: none;
}

.note-item img {
  display: block;
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.note-item-content-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50%;
}

.note-item-content {
  padding: 1rem;
  height: 120px;
  overflow: hidden;
}

.note-item-title {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0.5rem;
}

.note-item-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  /* 
  overflow: hidden;
  text-overflow: ellipsis; */
}

.note-item-date {
  padding: 8px 16px;
}

.note-detail {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
}

.note-detail-contents {
  padding: 1rem 1rem 4rem 1rem;
}

.note-detail h1 {
  padding-top: 1rem;
  margin: 0;
}

.note-detail img {
  width: 80%;
  max-height: 80vh;
  object-fit: contain;
  margin: 24px 0;
}

.note-detail-img {
  display: flex;
  justify-content: center;
}

.note-detail-description {
  padding-top: 1rem;
  font-size: 1.25rem;
}

.note-form-container {
  display: flex;
  width: 100%;
  justify-content: center;
  margin: 0 auto;
}

.note-form-chd {
  display: flex;
  min-width: 400px;
  flex-direction: column;
  padding: 0.5rem;
}

.note-form-control {
  display: flex;
  justify-content: end;
  padding: 1rem;
}

.note-form-container textarea,
.note-form-container input {
  border: unset;
  background-color: #363636;
  padding: 0.75rem;
  outline: none;
}

.note-form-container textarea {
  height: 50vh;
  resize: none;
}

.menu-button {
  background-color: transparent;
  border: unset;
}

.note-header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 8px 0px 16px 0px;
}

.note-header-container form {
  display: flex;
  justify-content: end;
  width: 100%;
}

.note-header-container input {
  width: 100%;
  margin: 4px 0px;
  background-color: transparent;
  border: unset;
  outline: none;
}

.note-footer-container {
  display: flex;
  justify-content: end;
  width: 100%;
  margin: 8px 0px 16px 0px;
}

.note-header-container button,
.note-footer-container button {
  padding: 8px 8px;
  border: unset;
  border-radius: 16px;
  background-color: transparent;
  cursor: pointer;
}

.searchbar-container {
  display: flex;
  justify-content: end;
  background-color: #141414;
  border-radius: 16px;
  width: 60%;
}

.searchbar-container .block {
  width: 34px;
  height: 40px;
}

.searchbar-container button {
  width: 52px;
  height: 40px;
}

#image-preview {
  width: 5rem;
  height: 5rem;
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .notes-container {
    --card-count: 1;
    --width: 100%;
  }
}

.mobile-home .navbar {
  width: 100%;
}
